[submodule "create3_sim"]
	path = create3_sim
	url = git@github.com:iRobotEducation/create3_sim.git
	branch = humble
[submodule "aws-robomaker-small-house-world"]
	path = aws-robomaker-small-house-world
	url = git@github.com:aws-robotics/aws-robomaker-small-house-world.git
	branch = ros2
